

                <div class="row">
                  <div class=" col-md-3">
                        
                    </div>
                    <div class=" col-md-2">
                        <img src="images/flexvr-image.jpg" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class=" col-md-5">
                     
                        <div class="row line">
                        <div class=" col-md-5 label">
                          <p> First Name: </p>
                        </div>
                        <div class="col-md-3 text">
                         <p>  {{info.first}}</p>
                        </div>
                  
                      </div>
                      
           
                        <div class="row line">
                        <div class="col-md-3 label">
                          <p> Last Name: </p>
                        </div>
                        <div class="col-md-3 text">
                         <p>  {{info.last}}</p>
                        </div>
                  
                      </div>
                     
                     
                        <div class="row line">
                        <div class="col-md-3 label" >
                          <p> Gender: </p>
                        </div>
                        <div class="col-md-3 text">
                         <p>  {{info.gender}}</p>
                        </div>
                  
                      </div>
                       <div class="row line">
                        <div class="col-md-3 label" >
                          <p> Need: </p>
                        </div>
                        <div class="col-md-3 text">
                         <p>  {{info.need}}</p>
                        </div>
                  
                      </div>
                       <div class="row line">
                        <div class="col-md-3 label" >
                          <p> Message: </p>
                        </div>
                        <div class="col-md-3 text">
                         <p>  {{info.message}}</p>
                        </div>
                  
                      </div>
                              <button> 
                              <a href="/edit">Edit</a></button>
                      
                              
                            
                           
                        </div>
                    </div>
                </div>



<style>
  .img-rounded{
     border-radius: 50%;
     width:100px;
     height:100px;
     margin:auto;
     
  }
  .row{
    width:100%;
  }
  .line{
    background-color: lightgrey;
    margin:15px;
    height: 60px;
    vertical-align: middle;
  }
  .label{
    background-color: rgb(26, 29, 71);
    color: linen;
    height: 100%;
    width: 30%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    font-size: 17px;
  }

  .text{
    color: rgb(27, 27, 27);
    height: 100%;
    width: 70%;
    text-align: center;
    margin:auto;
    vertical-align: middle;
font-size: 15px;;
  }
  p{
    text-align: center;
    margin: auto;
    vertical-align: middle;
  
  }
</style>
