

<h2 class="appt-head">My appointments</h2>

<div class = "Appt">
<table class="content-table">
  <thead>
    <tr>
    <th>first name</th>
    <th>last Name</th>
    <th>clinic</th>
    <th>therapist</th>
     <th>year</th>
    <th>month</th>
    <th>day</th>
    <th>hour</th>
    <th>minute</th>
  </tr>
  </thead>
  <tbody>
    {{#each myAppt}}
  <tr>
    <th>{{firstName}}</th>
    <th>{{lastName}}</th>
    <th>{{clinic}}</th>
    <th>{{therapist}}</th>
     <th>{{year}}</th>
    <th>{{month}}</th>
    <th>{{day}}</th>
    <th>{{hour}}</th>
    <th>{{minute}}</th>
  </tr>
{{/each}}
  </tbody>
</table>

</div>